@model FinalProject.Models.patient
@using FinalProject.Models

@{
    ViewBag.Title = "AddPatient";
}

<h2>AddPatient</h2>

<h3>Datos del paciente</h3>

@using (Html.BeginForm("AddPatient", "Home", FormMethod.Post, new { enctype = "/form-data" }))
{
    <div>

        @Html.Label("ID:")
        @Html.TextBoxFor(i => i.ID, new { @class = "form-control", placeholder = "Insert your ID" })
        @Html.ValidationMessageFor(m => m.ID, "", new { @class = "text-danger" })

        @Html.Label("Name:")
        @Html.TextBoxFor(s => s.Name, new { @class = "form-control", placeholder = "Insert your name" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

        @Html.Label("Cedula:")
        @Html.TextBoxFor(s => s.Cedula, new { @class = "form-control", placeholder = "Insert your name" })
        @Html.ValidationMessageFor(m => m.Cedula, "", new { @class = "text-danger" })


        @Html.Label("Insurance company:")
        @Html.TextBoxFor(q => q.insurance, new { @class = "form-control", placeholder = "Nombre de seguro/ No tiene" })
        @Html.ValidationMessageFor(m => m.insurance, "", new { @class = "text-danger" })

    </div>


    <input type="submit" value="SEND" />
}

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>seguro</th>
            </tr>
        </thead>
        <tbody>

        <td>55</td>
        <td>Laura Quiñones</td>
        <td>40231566742</td>
        <td>Humano Max</td>

        </tbody>
    </table>